{% extends "base.html" %}

{% block content %}
<h2 class="text-center text-primary-emphasis p-2">Monthly Task Management</h2>
<div class="d-flex flex-wrap justify-content-center p-5 gap-4">
    
    {% for task in data %}
            <div class="col-sm-3">
                <div class="card shadow-lg p-2">
                    <div class="card-body">
                        <h4 class="card-title text-primary-emphasis fw-bold">{{task.taskTitle}}</h4>
                        <p class="card-text">{{ task.taskDescription |truncatechars:100}}</p>
                        <p class="fw-bold">Task-planner: {{task.author.name}} </p>
                        <p class="fw-bold">Task:
                            {% for category in task.Category.all%}
                            <button class="btn btn-primary btn-sm p-2">{{category.categoryName}}</button>
                            
                            {% endfor %}
                             </p>
                             {% if task.is_completed %}
                        <button class="btn btn-outline-danger">Completed</button>
                    {% else %}
                        <a href="{% url 'edit_task' task.id %}" class="btn btn-warning">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    {% endif %}

                        {% comment %} <a href="{% url 'edit_task' task.id %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'delete_task' task.id  %}" class="btn btn-danger">Delete</a> {% endcomment %}
                    </div>
                </div>
            </div>
        
    {% endfor %}
</div>
{% endblock %}
